<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Test_Servlet</display-name>
    <servlet-name>Test_Servlet</servlet-name>
    <servlet-class>test.Test_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test_Servlet</servlet-name>
    <url-pattern>/Test_Servlet</url-pattern>
  </servlet-mapping>
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Fileupload</display-name>
    <servlet-name>Fileupload</servlet-name>
    <servlet-class>test.Fileupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fileupload</servlet-name>
    <url-pattern>/Fileupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieTest</display-name>
    <servlet-name>CookieTest</servlet-name>
    <servlet-class>test.CookieTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest</servlet-name>
    <url-pattern>/CookieTest</url-pattern>
  </servlet-mapping>
</web-app>